[submodule "vendor/github.com/urfave/cli"]
	path = vendor/github.com/urfave/cli
	url = https://github.com/urfave/cli
[submodule "vendor/github.com/Sirupsen/logrus"]
	path = vendor/github.com/Sirupsen/logrus
	url = https://github.com/Sirupsen/logrus
[submodule "vendor/github.com/jinzhu/gorm"]
	path = vendor/github.com/jinzhu/gorm
	url = https://github.com/jinzhu/gorm
[submodule "vendor/github.com/jinzhu/inflection"]
	path = vendor/github.com/jinzhu/inflection
	url = https://github.com/jinzhu/inflection
[submodule "vendor/github.com/mattn/go-sqlite3"]
	path = vendor/github.com/mattn/go-sqlite3
	url = https://github.com/mattn/go-sqlite3
[submodule "vendor/golang.org/x/net"]
	path = vendor/golang.org/x/net
	url = https://go.googlesource.com/net
[submodule "vendor/github.com/PuerkitoBio/goquery"]
	path = vendor/github.com/PuerkitoBio/goquery
	url = https://github.com/PuerkitoBio/goquery
[submodule "vendor/github.com/andybalholm/cascadia"]
	path = vendor/github.com/andybalholm/cascadia
	url = https://github.com/andybalholm/cascadia
[submodule "vendor/github.com/gosuri/uiprogress"]
	path = vendor/github.com/gosuri/uiprogress
	url = https://github.com/gosuri/uiprogress
[submodule "vendor/github.com/gosuri/uilive"]
	path = vendor/github.com/gosuri/uilive
	url = https://github.com/gosuri/uilive
[submodule "vendor/github.com/emirpasic/gods"]
	path = vendor/github.com/emirpasic/gods
	url = https://github.com/emirpasic/gods
[submodule "vendor/github.com/metaleap/go-xsd"]
	path = vendor/github.com/metaleap/go-xsd
	url = https://github.com/metaleap/go-xsd
[submodule "vendor/github.com/willf/pad"]
	path = vendor/github.com/willf/pad
	url = https://github.com/willf/pad
